body {
  font-family: "Press Start 2P", monospace;
  background-image: url("/src/background/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--loading-color);
}